In [3]:
import pandas as pd
import numpy as np

In [4]:
baseball = pd.read_csv("baseball.csv")

In [8]:
baseball.head(10)

,id,player,year,stint,team,lg,g,ab,r,h,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,88641,womacto01,2006,2,CHN,NL,19,50,6,14,...,2,1,1,4,4,0,0,3,0,0
1,88643,schilcu01,2006,1,BOS,AL,31,2,0,1,...,0,0,0,0,1,0,0,0,0,0
2,88645,myersmi01,2006,1,NYA,AL,62,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,88649,helliri01,2006,1,MIL,NL,20,3,0,0,...,0,0,0,0,2,0,0,0,0,0
4,88650,johnsra05,2006,1,NYA,AL,33,6,0,1,...,0,0,0,0,4,0,0,0,0,0
5,88652,finlest01,2006,1,SFN,NL,139,426,66,105,...,40,7,0,46,55,2,2,3,4,6
6,88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,...,73,0,1,69,58,10,7,0,6,14
7,88662,seleaa01,2006,1,LAN,NL,28,26,2,5,...,0,0,0,1,7,0,0,6,0,1
8,89177,francju01,2007,2,ATL,NL,15,40,1,10,...,8,0,0,4,10,1,0,0,1,1
9,89178,francju01,2007,1,NYN,NL,40,50,7,10,...,8,2,1,10,13,0,0,0,1,1

In [11]:
baseball.shape

(100, 23)

In [10]:
baseball.year.value_counts()

2007    92
2006     8
Name: year, dtype: int64

In [20]:
baseball.drop(['id'],axis=1).head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
1,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
4,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0

In [21]:
baseball.drop(["ibb","hbp"],axis=1).head()

,id,player,year,stint,team,lg,g,ab,r,h,...,X3b,hr,rbi,sb,cs,bb,so,sh,sf,gidp
0,88641,womacto01,2006,2,CHN,NL,19,50,6,14,...,0,1,2,1,1,4,4,3,0,0
1,88643,schilcu01,2006,1,BOS,AL,31,2,0,1,...,0,0,0,0,0,0,1,0,0,0
2,88645,myersmi01,2006,1,NYA,AL,62,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,88649,helliri01,2006,1,MIL,NL,20,3,0,0,...,0,0,0,0,0,0,2,0,0,0
4,88650,johnsra05,2006,1,NYA,AL,33,6,0,1,...,0,0,0,0,0,0,4,0,0,0

In [5]:
hr2006=baseball[baseball.year==2006].xs('hr',axis=1)

In [6]:
hr2006.head()

0    1
1    0
2    0
3    0
4    0
Name: hr, dtype: int64

In [7]:
baseball.player[baseball.year==2006].head()

0    womacto01
1    schilcu01
2    myersmi01
3    helliri01
4    johnsra05
Name: player, dtype: object

In [39]:
hr2006.index=baseball.player[baseball.year==2006]
hr2006.head(8)

player
womacto01     1
schilcu01     0
myersmi01     0
helliri01     0
johnsra05     0
finlest01     6
gonzalu01    15
seleaa01      0
Name: hr, dtype: int64

In [9]:
hr2007 = baseball[baseball.year==2007].xs("hr",axis=1)

In [10]:
type(hr2007)

pandas.core.series.Series

In [41]:
hr2007.index=baseball.player[baseball.year==2007]
hr2007.head()

player
francju01     0
francju01     1
zaungr01     10
witasja01     0
williwo02     1
Name: hr, dtype: int64

In [44]:
hr_total = hr2006 + hr2007
hr_total.head()

player
alomasa02   NaN
aloumo01    NaN
ausmubr01   NaN
benitar01   NaN
benitar01   NaN
Name: hr, dtype: float64

In [22]:
hr_total[hr_total.notnull()]

player
finlest01     7
gonzalu01    30
johnsra05     0
myersmi01     0
schilcu01     0
seleaa01      0
Name: hr, dtype: float64

In [49]:
hr2007.add(hr2006,fill_value=0).head()

player
alomasa02     0
aloumo01     13
ausmubr01     3
benitar01     0
benitar01     0
Name: hr, dtype: float64

In [57]:
# apply statistical functions on the dataset
df = baseball[['ab',"hr","g","so"]]

In [58]:
df.head(10)

    ab  hr    g  so
0   50   1   19   4
1    2   0   31   1
2    0   0   62   0
3    3   0   20   2
4    6   0   33   4
5  426   6  139  55
6  586  15  153  58
7   26   0   28   7
8   40   0   15  10
9   50   1   40  13

In [65]:
df.corr()
#df.apply(np.median)

          ab        hr         g        so
ab  1.000000  0.843308  0.935910  0.923926
hr  0.843308  1.000000  0.802014  0.865929
g   0.935910  0.802014  1.000000  0.866499
so  0.923926  0.865929  0.866499  1.000000

In [32]:
df.apply(np.mean)

ab    136.54
hr      4.37
g      52.38
so     24.08
dtype: float64

In [33]:
#range 
df.apply(np.max)

ab    586
hr     35
g     155
so    134
dtype: float64

In [34]:
df.apply(np.min)

ab    0
hr    0
g     1
so    0
dtype: float64

In [35]:
# lambda function is known as a anonymous function to apply on a dataset
l_range = lambda x: x.max() - x.min()

In [36]:
df.apply(l_range)

ab    586
hr     35
g     154
so    134
dtype: float64

In [37]:
baseball.head(3)

,id,player,year,stint,team,lg,g,ab,r,h,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,88641,womacto01,2006,2,CHN,NL,19,50,6,14,...,2,1,1,4,4,0,0,3,0,0
1,88643,schilcu01,2006,1,BOS,AL,31,2,0,1,...,0,0,0,0,1,0,0,0,0,0
2,88645,myersmi01,2006,1,NYA,AL,62,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
new_metric = lambda x: (x["g"] - x["X2b"] - x["ab"] -x["rbi"])/ (x["ab"]+1e-6)

In [46]:
new_metric

In [47]:
baseball.apply(new_metric,axis=1)

0           -0.680000
1           14.499993
2     62000000.000000
3            5.666665
4            4.499999
5           -0.816901
6           -0.952218
7            0.038462
8           -0.900000
9           -0.360000
10          -0.897281
11     3000000.000000
12          -0.474576
13     8000000.000000
14    47000000.000000
15          -0.871560
16          18.999981
17          -0.666667
18          -0.421053
19    67000000.000000
20          -0.729167
21          -0.500000
22          -0.851852
23     6000000.000000
24          -0.867470
25          -0.428571
26          -0.400000
27     4000000.000000
28          -0.965278
29          -0.943503
           ...
70    15000000.000000
71          -0.948864
72          -0.878924
73          -0.792208
74    44000000.000000
75          -0.896552
76          -0.773585
77          -0.721893
78          -0.500000
79          -0.812057
80          -0.595745
81     4000000.000000
82          -0.865753
83          -0.772021
84          -0.959108
85     6000000.000000
86          -0.658537
87          -0.827907
88           0.000000
89           0.333333
90          -0.772487
91          -0.550000
92          -0.869281
93          -0.864706
94          -0.883946
95    34000000.000000
96    19000000.000000
97          -0.782235
98          -0.942073
99          -0.681818
dtype: float64

In [67]:
# sorting and ranking a df
bb = pd.read_csv("baseball.csv",index_col="id")
bb.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0

In [70]:
player_id = bb.player + bb.year.astype(str)
player_id.head()

id
88641    womacto012006
88643    schilcu012006
88645    myersmi012006
88649    helliri012006
88650    johnsra052006
dtype: object

In [50]:
bb_newindex = bb.copy()

In [52]:
bb_newindex.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0

In [53]:
bb_newindex.index = player_id

In [54]:
bb_newindex.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
womacto012006,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
schilcu012006,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
myersmi012006,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
helliri012006,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
johnsra052006,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0

In [56]:
bb_newindex.index.is_unique

False

In [57]:
pd.Series(bb_newindex.index).value_counts()

wickmbo012007    2
gomezch022007    2
sweenma012007    2
claytro012007    2
hernaro012007    2
loftoke012007    2
trachst012007    2
wellsda012007    2
francju012007    2
benitar012007    2
coninje012007    2
cirilje012007    2
piazzmi012007    1
griffke022007    1
stantmi022007    1
finlest012006    1
sprinru012007    1
guarded012007    1
thomeji012007    1
maddugr012007    1
biggicr012007    1
oliveda022007    1
vizquom012007    1
johnsra052007    1
wakefti012007    1
jonesto022007    1
aloumo012007     1
zaungr012007     1
womacto012006    1
finlest012007    1
                ..
smoltjo012007    1
easleda012007    1
ramirma022007    1
tavarju012007    1
loaizes012007    1
mabryjo012007    1
rogerke012007    1
delgaca012007    1
martipe022007    1
gonzalu012006    1
seleaa012007     1
valenjo032007    1
suppaje012007    1
stairma012007    1
johnsra052006    1
helliri012006    1
graffto012007    1
clemero022007    1
bondsba012007    1
weathda012007    1
myersmi012006    1
schilcu012007    1
myersmi012007    1
alomasa022007    1
edmonji012007    1
sheffga012007    1
whiteri012007    1
cormirh012007    1
floydcl012007    1
embreal012007    1
dtype: int64

In [58]:
bb_newindex.ix["wickmbo012007"]

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
wickmbo012007,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
wickmbo012007,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [72]:
player_id = bb.player + bb.team + bb.year.astype(str)

In [73]:
bb_newindex = bb.copy()

In [74]:
bb_newindex.index = player_id

In [75]:
bb_newindex.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
womacto01CHN2006,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
schilcu01BOS2006,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
myersmi01NYA2006,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
helliri01MIL2006,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
johnsra05NYA2006,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0

In [76]:
bb_newindex.index.is_unique

True

In [77]:
pd.Series(bb_newindex.index).value_counts()

martipe02NYN2007    1
sweenma01LAN2007    1
tavarju01BOS2007    1
seleaa01LAN2006     1
sosasa01TEX2007     1
oliveda02LAA2007    1
wakefti01BOS2007    1
wickmbo01ATL2007    1
womacto01CHN2006    1
hoffmtr01SDN2007    1
seaneru01LAN2007    1
rogerke01DET2007    1
guarded01CIN2007    1
thomeji01CHA2007    1
zaungr01TOR2007     1
suppaje01MIL2007    1
alomasa02NYN2007    1
gordoto01PHI2007    1
benitar01SFN2007    1
coninje01NYN2007    1
stinnke01SLN2007    1
weathda01CIN2007    1
rodriiv01DET2007    1
cormirh01CIN2007    1
vizquom01SFN2007    1
kleskry01SFN2007    1
mussimi01NYA2007    1
easleda01NYN2007    1
sweenma01SFN2007    1
claytro01TOR2007    1
                   ..
moyerja01PHI2007    1
aloumo01NYN2007     1
gonzalu01LAN2007    1
glavito02NYN2007    1
delgaca01NYN2007    1
sheffga01DET2007    1
finlest01COL2007    1
wickmbo01ARI2007    1
whitero02MIN2007    1
biggicr01HOU2007    1
johnsra05ARI2007    1
piazzmi01OAK2007    1
francju01NYN2007    1
edmonji01SLN2007    1
walketo04OAK2007    1
schilcu01BOS2006    1
schilcu01BOS2007    1
graffto01MIL2007    1
maddugr01SDN2007    1
embreal01OAK2007    1
loftoke01TEX2007    1
stantmi02CIN2007    1
loaizes01LAN2007    1
finlest01SFN2006    1
ausmubr01HOU2007    1
cirilje01MIN2007    1
stairma01TOR2007    1
villoro01NYA2007    1
griffke02CIN2007    1
sandere02KCA2007    1
dtype: int64

In [78]:
bb_newindex.sort_index(ascending=False).head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
zaungr01TOR2007,zaungr01,2007,1,TOR,AL,110,331,43,80,24,...,52,0,0,51,55,8,2,1,6,9
womacto01CHN2006,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
witasja01TBA2007,witasja01,2007,1,TBA,AL,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
williwo02HOU2007,williwo02,2007,1,HOU,NL,33,59,3,6,0,...,2,0,0,0,25,0,0,5,0,1
wickmbo01ATL2007,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [79]:
bb_newindex.sort_index(axis=1).head()

,X2b,X3b,ab,bb,cs,g,gidp,h,hbp,hr,...,player,r,rbi,sb,sf,sh,so,stint,team,year
womacto01CHN2006,1,0,50,4,1,19,0,14,0,1,...,womacto01,6,2,1,0,3,4,2,CHN,2006
schilcu01BOS2006,0,0,2,0,0,31,0,1,0,0,...,schilcu01,0,0,0,0,0,1,1,BOS,2006
myersmi01NYA2006,0,0,0,0,0,62,0,0,0,0,...,myersmi01,0,0,0,0,0,0,1,NYA,2006
helliri01MIL2006,0,0,3,0,0,20,0,0,0,0,...,helliri01,0,0,0,0,0,2,1,MIL,2006
johnsra05NYA2006,0,0,6,0,0,33,0,1,0,0,...,johnsra05,0,0,0,0,0,4,1,NYA,2006

In [75]:
bb.g.sort_values(ascending=False).head()

id
89361    155
88653    153
89347    145
89462    144
89523    141
Name: g, dtype: int64

In [76]:
bb.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0

In [79]:
bb.lg.sortlevel(ascending=False).head()

id
89534    NL
89533    NL
89530    NL
89526    NL
89525    NL
Name: lg, dtype: object

In [ ]:
#https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/baseball.csv

In [85]:
# sort a dataframe by a column condition
baseball[["player","g","h","stint"]].sort_values(ascending=[False,True,True],by=["g","player","h"]).head()

       player    g    h  stint
29  thomafr04  155  147      1
6   gonzalu01  153  159      1
22  vizquom01  145  126      1
71  griffke02  144  146      1
94  biggicr01  141  130      1

In [87]:
pd.Series([21,24,27,27,27]).rank()

0    1
1    2
2    4
3    4
4    4
dtype: float64

In [90]:
pd.Series([21,24,27,27,27]).rank(method="first")

0    1
1    2
2    3
3    4
4    5
dtype: float64

In [91]:
baseball.g.rank(method="first").head()

0    30
1    45
2    65
3    33
4    47
Name: g, dtype: float64

In [95]:
df.rank(ascending=False).head()

     ab    hr     g  so
0  47.5  38.5  70.0  59
1  73.0  72.0  55.5  73
2  91.0  72.0  36.0  89
3  69.0  72.0  67.5  67
4  64.5  72.0  51.0  59

In [94]:
df.head()

   ab  hr   g  so
0  50   1  19   4
1   2   0  31   1
2   0   0  62   0
3   3   0  20   2
4   6   0  33   4

In [97]:
# missing data and date object manipulation

In [99]:
baseball.isnull().sum()

id        0
player    0
year      0
stint     0
team      0
lg        0
g         0
ab        0
r         0
h         0
X2b       0
X3b       0
hr        0
rbi       0
sb        0
cs        0
bb        0
so        0
ibb       0
hbp       0
sh        0
sf        0
gidp      0
dtype: int64

In [100]:
df = pd.Series([np.nan, -44, None, "Mr X"])

In [101]:
df

0     NaN
1     -44
2    None
3    Mr X
dtype: object

In [102]:
df.isnull()

0     True
1    False
2     True
3    False
dtype: bool

In [103]:
df.dropna()

1     -44
3    Mr X
dtype: object

In [105]:
baseball[baseball.notnull()].head()

,id,player,year,stint,team,lg,g,ab,r,h,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,88641,womacto01,2006,2,CHN,NL,19,50,6,14,...,2,1,1,4,4,0,0,3,0,0
1,88643,schilcu01,2006,1,BOS,AL,31,2,0,1,...,0,0,0,0,1,0,0,0,0,0
2,88645,myersmi01,2006,1,NYA,AL,62,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,88649,helliri01,2006,1,MIL,NL,20,3,0,0,...,0,0,0,0,2,0,0,0,0,0
4,88650,johnsra05,2006,1,NYA,AL,33,6,0,1,...,0,0,0,0,4,0,0,0,0,0

In [107]:
baseball.dropna().head()

,id,player,year,stint,team,lg,g,ab,r,h,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,88641,womacto01,2006,2,CHN,NL,19,50,6,14,...,2,1,1,4,4,0,0,3,0,0
1,88643,schilcu01,2006,1,BOS,AL,31,2,0,1,...,0,0,0,0,1,0,0,0,0,0
2,88645,myersmi01,2006,1,NYA,AL,62,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,88649,helliri01,2006,1,MIL,NL,20,3,0,0,...,0,0,0,0,2,0,0,0,0,0
4,88650,johnsra05,2006,1,NYA,AL,33,6,0,1,...,0,0,0,0,4,0,0,0,0,0

In [109]:
baseball.dropna(how="all").head()

,id,player,year,stint,team,lg,g,ab,r,h,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,88641,womacto01,2006,2,CHN,NL,19,50,6,14,...,2,1,1,4,4,0,0,3,0,0
1,88643,schilcu01,2006,1,BOS,AL,31,2,0,1,...,0,0,0,0,1,0,0,0,0,0
2,88645,myersmi01,2006,1,NYA,AL,62,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,88649,helliri01,2006,1,MIL,NL,20,3,0,0,...,0,0,0,0,2,0,0,0,0,0
4,88650,johnsra05,2006,1,NYA,AL,33,6,0,1,...,0,0,0,0,4,0,0,0,0,0

In [113]:
bb.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0

In [114]:
bb.ix[[88645,88650],'year'] = np.nan

In [116]:
bb.ix[[88643,88650],'team'] = np.nan

In [117]:
bb.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
88643,schilcu01,2006,1,NaN,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
88645,myersmi01,NaN,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
88650,johnsra05,NaN,1,NaN,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0

In [118]:
bb.dropna().head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
88652,finlest01,2006,1,SFN,NL,139,426,66,105,21,...,40,7,0,46,55,2,2,3,4,6
88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,52,...,73,0,1,69,58,10,7,0,6,14
88662,seleaa01,2006,1,LAN,NL,28,26,2,5,1,...,0,0,0,1,7,0,0,6,0,1

In [120]:
bb.dropna(how='all').head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
88643,schilcu01,2006,1,NaN,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
88645,myersmi01,NaN,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
88650,johnsra05,NaN,1,NaN,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0

In [121]:
bb.dropna(how='any').head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
88652,finlest01,2006,1,SFN,NL,139,426,66,105,21,...,40,7,0,46,55,2,2,3,4,6
88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,52,...,73,0,1,69,58,10,7,0,6,14
88662,seleaa01,2006,1,LAN,NL,28,26,2,5,1,...,0,0,0,1,7,0,0,6,0,1

In [123]:
bb.fillna(0).head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
88643,schilcu01,2006,1,0,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
88645,myersmi01,0,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
88650,johnsra05,0,1,0,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0

In [124]:
bb.mean()

year     2006.938776
stint       1.130000
g          52.380000
ab        136.540000
r          18.690000
h          35.820000
X2b         7.390000
X3b         0.550000
hr          4.370000
rbi        18.470000
sb          1.380000
cs          0.460000
bb         15.490000
so         24.080000
ibb         1.770000
hbp         1.120000
sh          1.380000
sf          1.200000
gidp        3.540000
dtype: float64

In [126]:
bb.mean(axis=1).head()

id
88641    111.263158
88643    107.473684
88645      3.500000
88649    106.947368
88650      2.500000
dtype: float64

In [130]:
df = baseball[["g","ab","r","h"]]
df.head()

    g  ab  r   h
0  19  50  6  14
1  31   2  0   1
2  62   0  0   0
3  20   3  0   0
4  33   6  0   1

In [135]:
df.idxmax()

g     29
ab     6
r     40
h      6
dtype: int64

In [136]:
df.idxmin()

g     21
ab     2
r      1
h      2
dtype: int64

In [137]:
df.sum()

g      5238
ab    13654
r      1869
h      3582
dtype: int64

In [138]:
df.mean()

g      52.38
ab    136.54
r      18.69
h      35.82
dtype: float64

In [139]:
df.median()

g     33.0
ab    40.5
r      2.0
h      8.0
dtype: float64

In [140]:
df.describe()

                g          ab          r           h
count  100.000000  100.000000  100.00000  100.000000
mean    52.380000  136.540000   18.69000   35.820000
std     48.031299  181.936853   27.77496   50.221807
min      1.000000    0.000000    0.00000    0.000000
25%      9.500000    2.000000    0.00000    0.000000
50%     33.000000   40.500000    2.00000    8.000000
75%     83.250000  243.750000   33.25000   62.750000
max    155.000000  586.000000  107.00000  159.000000

In [143]:
df.cumsum().head()

     g  ab  r   h
0   19  50  6  14
1   50  52  6  15
2  112  52  6  15
3  132  55  6  15
4  165  61  6  16

In [144]:
df.count()

g     100
ab    100
r     100
h     100
dtype: int64

In [145]:
df.skew()

g     0.765246
ab    1.140473
r     1.387462
h     1.173600
dtype: float64

In [146]:
bb.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
88643,schilcu01,2006,1,NaN,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
88645,myersmi01,NaN,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
88650,johnsra05,NaN,1,NaN,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0

In [81]:
# write a code to fill the missing values in bb
bb.year.fillna(2006,inplace=True)

In [149]:
bb.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
88643,schilcu01,2006,1,NaN,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
88650,johnsra05,2006,1,NaN,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0

In [151]:
bb.fillna(bb.g.mean()).head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
88643,schilcu01,2006,1,52.38,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
88650,johnsra05,2006,1,52.38,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0

In [82]:
bb.to_csv("baseball_data.csv",sep=",",header=True, index=True)

In [153]:
bb.to_pickle("baseball_data.csv")

In [155]:
pd.read_pickle("baseball_data.csv")

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
88643,schilcu01,2006,1,NaN,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
88650,johnsra05,2006,1,NaN,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0
88652,finlest01,2006,1,SFN,NL,139,426,66,105,21,...,40,7,0,46,55,2,2,3,4,6
88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,52,...,73,0,1,69,58,10,7,0,6,14
88662,seleaa01,2006,1,LAN,NL,28,26,2,5,1,...,0,0,0,1,7,0,0,6,0,1
89177,francju01,2007,2,ATL,NL,15,40,1,10,3,...,8,0,0,4,10,1,0,0,1,1
89178,francju01,2007,1,NYN,NL,40,50,7,10,0,...,8,2,1,10,13,0,0,0,1,1
89330,zaungr01,2007,1,TOR,AL,110,331,43,80,24,...,52,0,0,51,55,8,2,1,6,9
89333,witasja01,2007,1,TBA,AL,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89334,williwo02,2007,1,HOU,NL,33,59,3,6,0,...,2,0,0,0,25,0,0,5,0,1
89335,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89336,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89337,whitero02,2007,1,MIN,AL,38,109,8,19,4,...,20,0,0,6,19,0,3,0,1,2
89338,whiteri01,2007,1,HOU,NL,20,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
89339,wellsda01,2007,2,LAN,NL,7,15,2,4,1,...,1,0,0,0,6,0,0,0,0,0
89340,wellsda01,2007,1,SDN,NL,22,38,1,4,0,...,0,0,0,0,12,0,0,4,0,0
89341,weathda01,2007,1,CIN,NL,67,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89343,walketo04,2007,1,OAK,AL,18,48,5,13,1,...,4,0,0,2,4,0,0,0,2,2
89345,wakefti01,2007,1,BOS,AL,1,2,0,0,0,...,0,0,0,0,2,0,0,0,0,0
89347,vizquom01,2007,1,SFN,NL,145,513,54,126,18,...,51,14,6,44,48,6,1,14,3,14
89348,villoro01,2007,1,NYA,AL,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89352,valenjo03,2007,1,NYN,NL,51,166,18,40,11,...,18,2,1,15,28,4,0,1,1,5
89354,trachst01,2007,2,CHN,NL,4,7,0,1,0,...,0,0,0,0,1,0,0,0,0,0
89355,trachst01,2007,1,BAL,AL,3,5,0,0,0,...,0,0,0,0,3,0,0,0,0,0
89359,timlimi01,2007,1,BOS,AL,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89360,thomeji01,2007,1,CHA,AL,130,432,79,119,19,...,96,0,1,95,134,11,6,0,3,10
89361,thomafr04,2007,1,TOR,AL,155,531,63,147,30,...,95,0,0,81,94,3,7,0,5,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89460,guarded01,2007,1,CIN,NL,15,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89462,griffke02,2007,1,CIN,NL,144,528,78,146,24,...,93,6,1,85,99,14,1,0,9,14
89463,greensh01,2007,1,NYN,NL,130,446,62,130,30,...,46,11,1,37,62,4,5,1,1,14
89464,graffto01,2007,1,MIL,NL,86,231,34,55,8,...,30,0,1,24,44,6,3,0,2,7
89465,gordoto01,2007,1,PHI,NL,44,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89466,gonzalu01,2007,1,LAN,NL,139,464,70,129,23,...,68,6,2,56,56,4,4,0,2,11
89467,gomezch02,2007,2,CLE,AL,19,53,4,15,2,...,5,0,0,0,6,0,0,1,1,1
89468,gomezch02,2007,1,BAL,AL,73,169,17,51,10,...,16,1,2,10,20,1,0,5,1,5
89469,glavito02,2007,1,NYN,NL,33,56,3,12,1,...,4,0,0,6,5,0,0,12,1,0
89473,floydcl01,2007,1,CHN,NL,108,282,40,80,10,...,45,0,0,35,47,5,5,0,0,6
89474,finlest01,2007,1,COL,NL,43,94,9,17,3,...,2,0,0,8,4,1,0,0,0,2
89480,embreal01,2007,1,OAK,AL,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89481,edmonji01,2007,1,SLN,NL,117,365,39,92,15,...,53,0,2,41,75,2,0,2,3,9
89482,easleda01,2007,1,NYN,NL,76,193,24,54,6,...,26,0,1,19,35,1,5,0,1,2
89489,delgaca01,2007,1,NYN,NL,139,538,71,139,30,...,87,4,0,52,118,8,11,0,6,12
89493,cormirh01,2007,1,CIN,NL,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89494,coninje01,2007,2,NYN,NL,21,41,2,8,2,...,5,0,0,7,8,2,0,1,1,1
89495,coninje01,2007,1,CIN,NL,80,215,23,57,11,...,32,4,0,20,28,0,0,1,6,4
89497,clemero02,2007,1,NYA,AL,2,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0
89498,claytro01,2007,2,BOS,AL,8,6,1,0,0,...,0,0,0,0,3,0,0,0,0,2
89499,claytro01,2007,1,TOR,AL,69,189,23,48,14,...,12,2,1,14,50,0,1,3,3,8
89501,cirilje01,2007,2,ARI,NL,28,40,6,8,4,...,6,0,0,4,6,0,0,0,0,1
89502,cirilje01,2007,1,MIN,AL,50,153,18,40,9,...,21,2,0,15,13,0,1,3,2,9
89521,bondsba01,2007,1,SFN,NL,126,340,75,94,14,...,66,5,0,132,54,43,3,0,2,13
89523,biggicr01,2007,1,HOU,NL,141,517,68,130,31,...,50,4,3,23,112,0,3,7,5,5
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25,6,1,37,74,3,6,4,1,11
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49,3,0,27,30,5,2,0,3,13
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0,0,0,0,3,0,0,0,0,0

In [156]:
import os

In [157]:
os.path.getsize("baseball_data.csv")

18949

In [ ]:
# Assignment
# data link: https://archive.ics.uci.edu/ml/machine-learning-databases/00350/

# what percentage of data is missing (all = true, all=false)
# compute the psercentage of missing by column
# if the missing percentage < 15% then go for imputation else, consider dropping the column from analysis
# identify the type of column where you are going to impute the missing values
# string - then do mode replacement, the level with highest frequency
# float or numeric - column mean replacement
# binary/ boolean/ integer - do median/mode replacement

In [105]:
df=pd.read_excel('default of credit card clients.xls',header=1)
df.set_index(['ID'],inplace=True)
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [157]:
import pandas as pd
df=pd.read_csv('https://github.com/jvns/pandas-cookbook/raw/master/data/311-service-requests.csv')

In [29]:
df.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,26589651,10/31/2013 02:08:41 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432,90-03 169 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)"
1,26593698,10/31/2013 02:01:04 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378,58 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)"
2,26594139,10/31/2013 02:00:24 AM,10/31/2013 02:40:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032,4060 BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.843330,-73.939144,"(40.84332975466513, -73.93914371913482)"
3,26595721,10/31/2013 01:56:23 AM,10/31/2013 02:21:48 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,10023,WEST 72 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.778009,-73.980213,"(40.7780087446372, -73.98021349023975)"
4,26590930,10/31/2013 01:53:44 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,Vacant Lot,10027,WEST 124 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.807691,-73.947387,"(40.80769092704951, -73.94738703491433)"

In [138]:
df.describe()

,Unique Key,X Coordinate (State Plane),Y Coordinate (State Plane),School or Citywide Complaint,Latitude,Longitude
count,1.110690e+05,9.814300e+04,98143.000000,0.0,98143.000000,98143.000000
mean,2.651565e+07,1.004544e+06,205553.153287,NaN,40.730821,-73.926738
std,4.694558e+04,2.206087e+04,31334.677543,NaN,0.086006,0.079563
min,2.642588e+07,9.134950e+05,121152.000000,NaN,40.498949,-74.254437
25%,2.647433e+07,NaN,NaN,NaN,NaN,NaN
50%,2.651472e+07,NaN,NaN,NaN,NaN,NaN
75%,2.655684e+07,NaN,NaN,NaN,NaN,NaN
max,2.659613e+07,1.067024e+06,271485.000000,NaN,40.911792,-73.701278

In [158]:
import numpy as np
from __future__ import division
a=df.isnull().sum().sum()
b=df.notnull().sum().sum()
type(a),type(b)
c=100*a/b
a,b,c
df.isnull().all().all()

False

In [140]:
df['X Coordinate (State Plane)'].isnull().sum()
df['X Coordinate (State Plane)'].notnull().sum()

98143

In [159]:
colstats=[(column,df[column].isnull().sum(),df[column].notnull().sum()) for column in list(df.columns)]

In [160]:
removecols=[]
for col in colstats:
    if np.round(100*col[1]/(col[1]+col[2]),decimals=2)>25:
        print 'Dropping ',col[0],'\t\t',np.round(100*col[1]/(col[1]+col[2]),decimals=2)
        removecols.append(col[0])

Dropping  Closed Date 		45.74
Dropping  Location Type 		28.85
Dropping  Intersection Street 1 		82.57
Dropping  Intersection Street 2 		82.56
Dropping  Landmark 		99.91
Dropping  Facility Type 		82.8
Dropping  Due Date 		64.67
Dropping  School Not Found 		64.9
Dropping  School or Citywide Complaint 		100.0
Dropping  Vehicle Type 		99.91
Dropping  Taxi Company Borough 		99.89
Dropping  Taxi Pick Up Location 		99.05
Dropping  Bridge Highway Name 		99.83
Dropping  Bridge Highway Direction 		99.83
Dropping  Road Ramp 		99.84
Dropping  Bridge Highway Segment 		99.8
Dropping  Garage Lot Name 		99.96
Dropping  Ferry Direction 		99.98
Dropping  Ferry Terminal Name 		99.94

In [142]:
df.groupby(['Complaint Type']).count().sort(columns=['Unique Key'],axis=0,ascending=False)
# df.sort(columns=['Location Type'],axis=0)
# help(df.sort)

/usr/local/lib/python2.7/dist-packages/IPython/kernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
Complaint Type,,,,,,,,,,,,,,,,,,,,,
HEATING,14200,14200,6704,14200,14200,14200,14200,14198,14200,14200,...,0,0,0,0,0,0,0,14198,14198,14198
GENERAL CONSTRUCTION,7471,7471,798,7471,7471,7471,7471,7466,7471,7471,...,0,0,0,0,0,0,0,7466,7466,7466
Street Light Condition,7117,7117,5919,7117,7117,7117,0,3857,2527,2527,...,0,0,0,0,0,0,0,3861,3861,3861
DOF Literature Request,5797,5797,5487,5797,5797,5797,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PLUMBING,5373,5373,764,5373,5373,5373,5373,5371,5373,5373,...,0,0,0,0,0,0,0,5371,5371,5371
PAINT - PLASTER,5149,5149,663,5149,5149,5149,5149,5147,5149,5149,...,0,0,0,0,0,0,0,5147,5147,5147
Blocked Driveway,4590,4590,4581,4590,4590,4590,4590,4590,4496,4496,...,0,0,0,0,0,0,0,4589,4589,4589
NONCONST,3998,3998,416,3998,3998,3998,3998,3990,3998,3998,...,0,0,0,0,0,0,0,3990,3990,3990
Street Condition,3473,3473,2625,3473,3473,3473,1660,3281,2140,2140,...,0,0,0,0,0,0,0,3252,3252,3252
Illegal Parking,3343,3343,3336,3343,3343,3343,3343,3343,2524,2524,...,0,0,0,0,0,0,0,3328,3328,3328
Noise,3321,3321,648,3321,3321,3321,0,3309,2573,2573,...,0,0,0,0,0,0,0,3293,3293,3293
Traffic Signal Condition,3145,3145,3092,3145,3145,3145,0,1739,0,0,...,0,0,0,0,0,0,0,1739,1739,1739
Dirty Conditions,2653,2653,804,2653,2653,2653,2653,2599,1615,1615,...,0,0,0,0,0,0,0,2602,2602,2602
Water System,2636,2636,1511,2636,2636,2636,0,2611,2008,2008,...,0,0,0,0,0,0,0,2609,2609,2609
Noise - Commercial,2578,2578,2571,2578,2578,2578,2578,2578,2268,2268,...,0,0,0,0,0,0,0,2574,2574,2574
ELECTRIC,2350,2350,376,2350,2350,2350,2350,2347,2350,2350,...,0,0,0,0,0,0,0,2347,2347,2347
Broken Muni Meter,2070,2070,1719,2070,2070,2070,2070,2050,1060,1060,...,0,0,0,0,48,0,0,2039,2039,2039
Noise - Street/Sidewalk,1928,1928,1921,1928,1928,1928,1928,1927,1423,1423,...,0,0,0,0,0,0,0,1916,1916,1916
Sanitation Condition,1824,1824,1619,1824,1824,1824,1824,1748,1278,1278,...,0,0,0,0,0,0,0,1746,1746,1746
Rodent,1632,1632,366,1632,1632,1632,1632,1627,1506,1506,...,0,0,0,0,0,0,0,1627,1627,1627
Sewer,1627,1627,999,1627,1627,1627,0,1601,1219,1219,...,0,0,0,0,0,0,0,1601,1601,1601
Taxi Complaint,1227,1227,129,1227,1227,1227,771,1211,471,467,...,14,14,13,13,0,0,0,1188,1188,1188
Consumer Complaint,1227,1227,626,1227,1227,1227,0,1222,1091,1087,...,0,0,0,0,0,0,0,1183,1183,1183
Damaged Tree,1180,1180,602,1180,1180,1180,1135,1177,1062,1062,...,0,0,0,0,0,0,0,1171,1171,1171
Overgrown Tree/Branches,1083,1083,535,1083,1083,1083,1083,1082,1001,1001,...,0,0,0,0,0,0,0,1076,1076,1076
Graffiti,973,973,13,973,973,973,795,947,972,971,...,0,0,0,0,0,0,0,947,947,947
Missed Collection (All Materials),973,973,856,973,973,973,973,973,972,972,...,0,0,0,0,0,0,0,973,973,973
Building/Use,942,942,198,942,942,942,0,915,942,942,...,0,0,0,0,0,0,0,915,915,915
Root/Sewer/Sidewalk Condition,836,836,188,836,836,836,836,836,833,833,...,0,0,0,0,0,0,0,833,833,833
Derelict Vehicle,803,803,797,803,803,803,803,803,662,662,...,1,1,1,1,0,0,0,800,800,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Miscellaneous Categories,5,5,2,5,5,5,0,5,5,5,...,0,0,0,0,0,0,0,5,5,5
Fire Alarm - Modification,5,5,5,5,5,5,5,5,5,5,...,0,0,0,0,0,0,0,5,5,5
Internal Code,5,5,0,5,5,5,0,4,3,3,...,0,0,0,0,0,0,0,4,4,4
Poison Ivy,5,5,0,5,5,0,5,5,5,5,...,0,0,0,0,0,0,0,5,5,5
Posting Advertisement,5,5,5,5,5,5,5,5,5,5,...,0,0,0,0,0,0,0,5,5,5
Ferry Complaint,4,4,0,4,4,4,4,0,0,0,...,0,0,0,0,0,2,4,0,0,0
Special Natural Area District (SNAD),4,4,1,4,4,4,0,1,4,4,...,0,0,0,0,0,0,0,1,1,1
Transportation Provider Complaint,4,4,4,4,4,0,4,3,3,3,...,0,0,0,0,0,0,3,3,3,3
Illegal Animal Sold,4,4,0,4,4,4,4,4,4,4,...,0,0,0,0,0,0,0,4,4,4
Fire Alarm - Replacement,3,3,1,3,3,3,3,3,3,3,...,0,0,0,0,0,0,0,3,3,3
Illegal Fireworks,3,3,3,3,3,0,3,3,1,1,...,0,0,0,0,0,0,0,3,3,3
Adopt-A-Basket,3,3,3,3,3,3,3,3,1,1,...,0,0,0,0,0,0,0,3,3,3
Invitation,3,3,0,3,3,3,0,0,0,0,...,0,0,0,3,0,0,0,0,0,0
DFTA Literature Request,2,2,2,2,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Public Assembly,2,2,1,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,2,2,2
Legal Services Provider Complaint,2,2,0,2,2,0,2,0,0,0,...,0,0,0,0,0,0,1,0,0,0
Misc. Comments,2,2,0,2,2,2,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
Opinion for the Mayor,2,2,0,2,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Window Guard,2,2,0,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,2,2,2
Municipal Parking Facility,1,1,1,1,1,1,1,1,0,0,...,0,0,0,0,1,0,0,1,1,1
Snow,1,1,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,1,1,1
Tunnel Condition,1,1,1,1,1,1,1,0,0,0,...,1,1,0,0,0,0,0,0,0,0
Trans Fat,1,1,0,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,1,1,1
DHS Income Savings Requirement,1,1,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DWD,1,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Stalled Sites,1,1,0,1,1,1,0,1,1,1,...,0,0,0,0,0,0,0,1,1,1
Ferry Permit,1,1,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
Highway Sign - Damaged,1,1,0,1,1,1,1,1,0,0,...,1,1,1,1,0,0,0,1,1,1
Open Flame Permit,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,1,1,1
X-Ray Machine/Equipment,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,1,1,1

In [161]:
removecols
df.drop([x for x in removecols],axis=1,inplace=True)

In [146]:
df.head()

,Unique Key,Created Date,Agency,Agency Name,Complaint Type,Descriptor,Incident Zip,Incident Address,Street Name,Cross Street 1,...,School Region,School Code,School Phone Number,School Address,School City,School State,School Zip,Latitude,Longitude,Location
0,26589651,10/31/2013 02:08:41 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,11432,90-03 169 STREET,169 STREET,90 AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)"
1,26593698,10/31/2013 02:01:04 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,11378,58 AVENUE,58 AVENUE,58 PLACE,...,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)"
2,26594139,10/31/2013 02:00:24 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,10032,4060 BROADWAY,BROADWAY,WEST 171 STREET,...,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,40.843330,-73.939144,"(40.84332975466513, -73.93914371913482)"
3,26595721,10/31/2013 01:56:23 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,10023,WEST 72 STREET,WEST 72 STREET,COLUMBUS AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,40.778009,-73.980213,"(40.7780087446372, -73.98021349023975)"
4,26590930,10/31/2013 01:53:44 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,10027,WEST 124 STREET,WEST 124 STREET,LENOX AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,40.807691,-73.947387,"(40.80769092704951, -73.94738703491433)"

In [36]:
df.count()

Unique Key                        111069
Created Date                      111069
Agency                            111069
Agency Name                       111069
Complaint Type                    111069
Descriptor                        110613
Incident Zip                       98807
Incident Address                   84441
Street Name                        84432
Cross Street 1                     84728
Cross Street 2                     84005
Address Type                      102247
City                               98854
Status                            111069
Resolution Action Updated Date     96507
Community Board                   111069
Borough                           111069
X Coordinate (State Plane)         98143
Y Coordinate (State Plane)         98143
Park Facility Name                111069
Park Borough                      111069
School Name                       111069
School Number                     111048
School Region                     110524
School Code                       110524
School Phone Number               111069
School Address                    111069
School City                       111069
School State                      111069
School Zip                        111069
Latitude                           98143
Longitude                          98143
Location                           98143
dtype: int64

In [162]:
# df1=df.isnull().any()
# emptycols=df1[df1.values==True].index.tolist()
imputecols=df.isnull().any().index[df.isnull().any().values==True].tolist()
colsandtypeslist=dict(zip(df.dtypes.index.tolist(),df.dtypes.values.tolist()))
imputedict={}
for col in imputecols:
    if col in colsandtypeslist.keys():
        imputedict[col]=str(colsandtypeslist[col])
imputedict

{'Address Type': 'object',
 'City': 'object',
 'Cross Street 1': 'object',
 'Cross Street 2': 'object',
 'Descriptor': 'object',
 'Incident Address': 'object',
 'Incident Zip': 'object',
 'Latitude': 'float64',
 'Location': 'object',
 'Longitude': 'float64',
 'Resolution Action Updated Date': 'object',
 'School Code': 'object',
 'School Number': 'object',
 'School Region': 'object',
 'Street Name': 'object',
 'X Coordinate (State Plane)': 'float64',
 'Y Coordinate (State Plane)': 'float64'}

In [99]:
df['Address Type'].mode()[0]

'ADDRESS'

In [109]:
df['Address Type']=df['Address Type'].fillna(df['Address Type'].mode()[0])

In [110]:
df['Address Type'].value_counts()

ADDRESS         87459
INTERSECTION    19309
BLOCKFACE        3191
LATLONG          1016
PLACENAME          94
Name: Address Type, dtype: int64

In [108]:
df['Address Type'].isnull().sum()

8822

In [166]:
for col in imputedict.keys():
    if imputedict[col]=='object':
        df[col].fillna(df[col].mode()[0],inplace=True)
    elif imputedict[col]=='float64':
        df[col].fillna(df[col].mean(),inplace=True)

In [167]:
df.isnull().any()

Unique Key                        False
Created Date                      False
Agency                            False
Agency Name                       False
Complaint Type                    False
Descriptor                        False
Incident Zip                      False
Incident Address                  False
Street Name                       False
Cross Street 1                    False
Cross Street 2                    False
Address Type                      False
City                              False
Status                            False
Resolution Action Updated Date    False
Community Board                   False
Borough                           False
X Coordinate (State Plane)        False
Y Coordinate (State Plane)        False
Park Facility Name                False
Park Borough                      False
School Name                       False
School Number                     False
School Region                     False
School Code                       False
School Phone Number               False
School Address                    False
School City                       False
School State                      False
School Zip                        False
Latitude                          False
Longitude                         False
Location                          False
dtype: bool

In [169]:
df.describe()

,Unique Key,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude
count,1.110690e+05,1.110690e+05,111069.000000,111069.000000,111069.000000
mean,2.651565e+07,1.004544e+06,205553.153287,40.730821,-73.926738
std,4.694558e+04,2.073746e+04,29454.944318,0.080846,0.074791
min,2.642588e+07,9.134950e+05,121152.000000,40.498949,-74.254437
25%,2.647433e+07,9.941830e+05,184944.000000,40.674251,-73.964185
50%,2.651472e+07,1.004544e+06,205553.153287,40.730821,-73.926738
75%,2.655684e+07,1.014621e+06,225714.000000,40.786194,-73.890392
max,2.659613e+07,1.067024e+06,271485.000000,40.911792,-73.701278

In [188]:
df3=df.groupby(['City','Complaint Type']).count()['Unique Key'].copy()